<div class="my-5">
<h1>User View</h1> 
<h2><%= resource.firstname %> <%= resource.lastname%>'s Profile</h2>

<div class="m-auto ">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="d-flex w-100 column-wrapper">

<div class="col-1-edit w-100 ">

  <div class="field my-3">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true, autocomplete: "first name" %>
  </div>

  <div class="field my-3">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true, autocomplete: "last name" %>
  </div>

  <div class="field my-3">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>

  <div class="field my-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

   <% if current_user.payroll? %>
<div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position, autofocus: true, autocomplete: "position" %>
  </div>
   <% else %>
   <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position, autofocus: true, autocomplete: "position", disabled: true %>
  </div>
  <% end %>

  <% if current_user.payroll? %>
    <div class="field my-3">
      <%= f.label "Permissions Level" %><br />
       <%= f.select :role, options_for_select(User.roles.map {|key, value| [key.titleize, User.roles.key(value)]}, @user.role) %>
    </div>
  <% else %>
    <div class="field my-3">
      <%= f.label "Permissions Level" %><br />
      <%= f.select( :role, User.roles.keys, { class: "text-capitalize" }, {disabled: true }) %>
    </div>
  <% end %>

  </div>

  <div class="col-2-edit w-100">

 

  <div class="field my-3">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field my-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field my-3">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="my-3 w-100">
<%= link_to "View Current CV", resource.resume, class: "orange-btn cv-btn w-100" %>
</div>  

<span class="btn  btn-file">
   Replace CV
    <%= f.file_field :resume %>
</span>

</div>
</div>
  

  <div class="actions mt-3 mb-2">
    <%= f.submit "Update User", class: "w-100 orange-btn" %>
  </div>
<% end %>


<div class="mt-0 mb-1 text-center"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "my-3 btn btn-danger text-uppercase cancel-btn w-100" %></div>

<div class="spacer"></div>

<div class="mt-1 mb-5 text-left">
<%= link_to "Back to Dashboard", :back, class: "text-center my-auto px-5 w-100 orange-btn" %>
</div>

<%# Add cancellation option to edit page in Users %>

</div>
</div>